@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/Inter-VariableFont.woff2') format('woff2');
    src: url('../fonts/Inter-VariableFont.woff2') format('woff');
    src: url('../fonts/Inter-VariableFont.woff2') format('truetype');
}

@font-face {
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/BonaNova-Regular.woff2') format('woff2');
    src: url('../fonts/BonaNova-Regular.woff2') format('woff');
    src: url('../fonts/BonaNova-Regular.woff2') format('truetype');
}

:root {
    font-size: 20px;
    line-height: 1.2;
    font-family: "Inter", serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Bona Nova', serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.menu {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 101vw;
    width: 100%;
    height: 100%;
    background-color: #1F1B16;
    transition: left 300ms;
    overflow-x: auto;
}

.menu--opened {
    left: 0;
}

.menu__container {
    position: relative;
    padding: 6.8rem 9rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menuButton {
    width: 2.25rem;
    height: 1.85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menuButton>div {
    background-color: #FFFFFF;
    transition: background-color 150ms;
}

.menuButton:hover>div {
    background-color: #E0B172;
}

.menu__menuButton {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
}

.menu__menuButton>div {
    position: absolute;
    height: 0.15rem;
    width: 1.25rem;
}

.menu__menuButton>div:first-child {
    transform: rotate(45deg);
}

.menu__menuButton>div:last-child {
    transform: rotate(-45deg);
}

.menu__links {
    display: flex;
    flex-basis: 23%;
    flex-direction: column;
    row-gap: 0.5rem;
}

.menu__links .links__item {
    padding: 1rem;
}

.links__item--mobileVisible {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
}

.menu__links .button-container {
    padding: 2.25rem 1rem 0 1rem;
    justify-content: start;
}

.button {
    padding: 0.8rem 2.2rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000000;
    border-radius: 0.2rem;
    background-color: #E0B172;
    cursor: pointer;
    transition: background-color 150ms;
}

.button:hover {
    background-color: #FFD59D;
}

.links__item,
.logo,
.footer__privacyPolicy {
    transition: color 150ms;
}

.links__item:hover,
.logo:hover,
.footer__privacyPolicy:hover {
    color: #E0B172;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #1F1B16;
}

.header__container {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
}

.header__links .links__item {
    padding: 0.5rem;
}

.logo {
    text-align: center;
}

.header__logo {
    padding: 1.5rem;
}

.logo>p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 600;
}

.logo>p:nth-child(2) {
    font-size: 0.75rem;
}

.header__menuButton {
    margin: 0 0 0 7.725rem;
    padding: 0.5rem;
    row-gap: 0.2rem;
}

.header__menuButton>div {
    height: 0.15rem;
    width: 100%;
}

main {
    flex-grow: 1;
}

.main__container {
    margin-top: 5.04rem;
    /* header height = 1.5rem + (1.1 + 0.6) * 1.2rem + 1.5rem = 5.04rem */
}

.main__addStory {
    height: calc(100vh - 13.14rem);
    /* .addStory height = 100vh - header height - .main__search height = 100vh - 1.5rem - (1.1 + 0.6) * 1.2rem - 1.5rem - 1.5rem - 1.2rem - 1rem - 0.05rem - 0.8rem - 1.2rem - 0.8rem - 0.05rem - 1.5rem = 100vh - 13.14rem */
    padding: 0 0 4rem 0;
    display: flex;
    flex-direction: column;
    background-image: url('../images/index/heading/heading.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.addStory__heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.addStory__heading p:nth-child(1),
.addStory__heading p:nth-child(2) {
    font-family: 'Bona Nova', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.addStory__heading p:nth-child(1) {
    font-size: 3.2rem;
}

.addStory__heading p:nth-child(2) {
    font-size: 2rem;
}

.addStory__heading p:nth-child(3) {
    margin: 2rem 0 0 0;
    font-family: 'Inter', sans-serif;
}

.main__search {
    position: relative;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: #1F1B16;
}

.main__search label {
    color: #FFFFFF;
}

.search-container {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.textInput {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    font-size: 1rem;
    border: 0.05rem solid #8F8D8A;
    border-radius: 0.2rem;
    resize: vertical;
    transition: box-shadow 150ms;
}

.textInput--light {
    color: #000000;
    background-color: #FFFFFF;
}

.textInput--dark {
    color: #FFFFFF;
    background-color: #1F1B16;
}

.textInput:focus {
    box-shadow: 0 0 0 0.1rem #E0B172;
}

.search-container .textInput {
    padding-right: 2.8rem;
}

.search-container button[type="submit"] {
    position: absolute;
    right: 0;
    height: 2.8rem;
    width: 2.8rem;
    padding: 0.8rem;
}

.search-container button[type="submit"]>svg {
    height: 100%;
    width: 100%;
    fill: #757575;
    transition: fill 150ms;
}

.search-container button[type="submit"]:hover>svg {
    fill: #E0B172;
}

.main__topics {
    padding: 5rem 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.topic__image {
    width: 100%;
    max-width: 22rem;
    display: block;
    aspect-ratio: 16 / 9;
    margin: 0 2rem 1rem 0;
    object-fit: cover;
    float: left;
}

.topics__item:hover .topic__heading {
    text-decoration: underline;
}

.topic__heading {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

footer {
    background-color: #1F1B16;
}

.footer__container {
    padding: 1.5rem 2.5rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 1rem;
    color: #FFFFFF;
}

.footer__sponsors {
    display: flex;
    column-gap: 1.5rem;
}

.sponsor__item {
    height: 3rem;
}

.sponsor__item img {
    height: 100%;
    object-fit: contain;
}

.footer__privacyPolicy {
    justify-self: end;
    text-align: end;
    font-weight: 700;
}

.footer__logo {
    justify-self: start;
    text-align: left;
}

.footer__copyright {
    justify-self: end;
    font-size: 0.75rem;
    text-align: end;
}

@media screen and (max-width: 1560px) {
    :root {
        font-size: 18px;
    }

    .menu__container {
        padding: 5.8rem 6rem;
        font-size: 1.4rem;
    }

    .menu__menuButton {
        right: 1.2rem;
    }

    .menu__links {
        row-gap: 0.25rem;
    }

    .header__container {
        padding: 0 1.2rem;
    }

    .main__addStory {
        padding: 0 0 3rem 0;
    }

    .main__search {
        padding: 1.5rem 1.7rem;
    }

    .search-container {
        width: 90%;
    }

    .main__topics {
        padding: 4rem 1.7rem 3rem;
        row-gap: 3rem;
    }

    .topic__image {
        margin: 0 1rem 0.5rem 0;
    }

    .topic__heading {
        margin: 0 0 0.5rem 0;
    }

    .footer__container {
        padding: 1.5rem 1.7rem;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 16px;
    }

    .menu__container {
        padding: 4.8rem 3rem;
        font-size: 1.2rem;
    }

    .menu__menuButton {
        right: 0;
    }

    .header__container {
        padding: 0 0.5rem;
    }

    .main__addStory {
        padding: 0 0 2.5rem 0;
    }

    .main__search {
        padding: 1.5rem 1rem;
    }

    .search-container {
        width: 100%;
    }

    .menu__links {
        row-gap: 0;
    }

    .main__topics {
        padding: 2.5rem 1rem;
        row-gap: 2.5rem;
    }

    .footer__container {
        padding: 1.5rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .menu__container {
        padding: 3.8rem 0;
    }

    .header__links {
        width: 2.25rem;
    }

    .links__item--mobileVisible {
        display: block;
    }

    .links__item--mobileUnvisible {
        display: none;
    }

    .header__menuButton {
        margin: 0;
    }

    .topic__image {
        float: unset;
        margin: 0 auto 0.5rem auto;
    }

    .topic__heading {
        margin: 0 0 0.5rem 0;
        text-align: center;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
    }
}