.main__container {
    padding: 5rem 2.5rem 4rem;
}

.form--addStory,
.form--addStory .button-container {
    margin: 4rem 0 0 0;
}

.form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
}

.form__wrapper label {
    display: inline-block;
    margin-bottom: 0.25rem;
}

.participant__birthDeath,
.participant__detentionFrom_inputs,
.participant__detentionTo_inputs {
    display: flex;
    column-gap: 1rem;
}

.participant__birth,
.participant__death,
.participant__detentionFrom_year,
.participant__detentionFrom_month,
.participant__detentionFrom_day,
.participant__detentionTo_year,
.participant__detentionTo_month,
.participant__detentionTo_day {
    width: 100%;
}

.participant__photo,
.participant__video {
    display: flex;
    flex-direction: column;
}

.photo__input-container,
.video__input-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.photo__input-container label {
    margin-bottom: 0;
}

.photo__input-container input {
    display: none;
}

.photo__previews {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.5rem;
}

.previews__preview {
    margin: 0.5rem 0 0 0;
    position: relative;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    border: 0.05rem solid #8F8D8A;
    border-radius: 0.2rem;
    overflow: hidden;
}

.preview__image {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 0.2rem;
}

.preview__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    word-break: break-all;
    color: #777777;
    overflow: hidden;
}

.preview__delete,
.iframe__delete {
    position: absolute;
    top: 0.20rem;
    left: 0.20rem;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0 0.1rem 0.1rem 0;
    border-radius: 0 0 0 0.2rem;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 0 0 0.2rem 0;
}

.preview__delete:after,
.iframe__delete:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent 42%, #CC0000 42%, #CC0000 58%, transparent 58%), linear-gradient(90deg, transparent 42%, #CC0000 42%, #CC0000 58%, transparent 58%);
    transform: rotate(45deg);
}

.preview__delete:hover:after,
.iframe__delete:hover:after {
    background-image: linear-gradient(transparent 42%, #FF0000 42%, #FF0000 58%, transparent 58%), linear-gradient(90deg, transparent 42%, #FF0000 42%, #FF0000 58%, transparent 58%);
}

.video__iframes {
    display: flex;
    flex-direction: column;
}

.iframes__iframe {
    margin: 0.5rem 0 0 0;
    position: relative;
}

.iframes__iframe textarea {
    padding-left: 1.75rem;
}

.uznik__image img {
    width: 100%;
    max-width: 28rem;
    aspect-ratio: 4 / 3;
    margin: 0 2rem 0.75rem 0;
    object-fit: cover;
    float: left;
}

.uznik__heading {
    margin: 0 0 1rem 0;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

.uznik__info {
    padding: 0 0 0.5rem 0;
}

.uznik__info p {
    margin: 0 0 0.5rem 0;
}

.uznik__text {
    margin: 0 0 4rem 0;
}

@media screen and (max-width: 1560px) {
    .main__container {
        padding: 4rem 1.7rem 3rem;
    }

    .form--addStory,
    .form--addStory .button-container {
        margin: 3rem 0 0 0;
    }

    .photo__previews {
        grid-template-columns: repeat(4, 1fr);
    }

    .uznik__text {
        margin: 0 0 3rem 0;
    }
}

@media screen and (max-width: 1200px) {
    .photo__previews {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .main__container {
        padding: 2.5rem 1rem;
    }

    .form--addStory,
    .form--addStory .button-container {
        margin: 2.5rem 0 0 0;
    }

    .form__wrapper {
        display: flex;
        flex-direction: column;
        column-gap: unset;
        row-gap: 0.75rem;
    }

    .photo__previews {
        grid-template-columns: repeat(5, 1fr);
    }

    .uznik__text {
        margin: 0 0 2.5rem 0;
    }
}

@media screen and (max-width: 768px) {

    .participant__birthDeath,
    .participant__detentionFrom_inputs,
    .participant__detentionTo_inputs {
        flex-direction: column;
        row-gap: 0.75rem;
    }

    .photo__input-container,
    .video__input-container {
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .photo__previews {
        grid-template-columns: repeat(4, 1fr);
    }

    .uznik__image {
        display: flex;
        justify-content: center;
    }

    .uznik__heading {
        margin: 0 0 0.75rem;
    }

    .uznik__image img {
        float: unset;
        margin: 0 0 0.75rem 0;
    }
}

@media screen and (max-width: 600px) {
    .photo__previews {
        grid-template-columns: repeat(3, 1fr);
    }
}